.login-page {
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.login-page ion-card { 
    width: 90%;
    max-width: 400px;
    min-height: 300px; 
}

.login-page ion-item {
    --background: transparent; /* Make the background transparent */
    --border-color: transparent; /* Remove border color */
    --padding-start: 0; /* Remove default padding */
    --inner-padding-end: 0; /* Remove default padding */
    max-width: 300px; /* Match the max-width of the card */
    margin: 0 auto; /* Center the item horizontally */
  }

.login-image {
    display: block; /* Ensures image takes full width */
    width: 100%;
    height: 100%; /* Or set a specific height if needed */
    object-fit: cover; /* This is the key property */
}

.login-footer {
    text-align: center;
    margin-top: 20px; 
    color: red;
  }

/* Style for title above the field */
.login-page ion-label {
    color: #333 !important;
    font-size: 14px; /* Adjust font size */
    color: #333; /* Dark gray text */
    display: block; /* Ensure the label is on its own line */
  }

/* email and password fields css */
.custom-field {
    width: 100%; /* Adjust as needed */
    padding: 10px 16px; /* Adjust padding for spacing */
    border: none; /* Remove default border */
    border-radius: 25px; /* Adjust for rounded corners */
    background-color: #e0e0e0; /* Light gray background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    font-size: 16px; /* Adjust font size */
    color: #333; /* Dark gray text */
    outline: none; /* Remove default focus outline */
    margin-bottom: 10px;
}

.custom-field::placeholder {
    color: #999; /* Light gray placeholder text */
}

.custom-field:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Slightly stronger shadow on focus */
}

/* Make the login button match the width of the card */
.login-page ion-button {
    width: 90%; /* Match the width of the card */
    max-width: 300px; /* Match the max-width of the card */
    border-radius: 25px; /* Adjust for rounded corners */
    margin: 0 auto; /* Center the button horizontally */
  }